<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="untitled-page heroSection" style="--src:url(/assets/821c1621a44857b3e2a154bae1fb40d4.svg)">
      <div class="wrapper">
        <div class="innerWrapper">
          <img class="logoImage" src="/assets/22c0d02d113e89c6b6f2ded64b84eefc.svg" alt="alt text" /><img
            class="secondaryLogoImage"
            src="/assets/6f2261f990b6e41d793cd1beb133821d.svg"
            alt="alt text"
          />
        </div>
      </div>
      <div class="navigationRow">
        <div class="friendsColumn">
          <img class="friendsIcon" src="/assets/26718ddcf1334a5b0d9386fe3e793b2a.png" alt="alt text" />
          <div class="friendsInfo">Friends</div>
        </div>
        <div class="homeColumn">
          <img class="homeIcon" src="/assets/073c8a6707e50eb35a26c9513aa6a10a.png" alt="alt text" />
          <div class="homeInfo">Home</div>
        </div>
        <div class="tasksColumn">
          <img class="tasksIcon" src="/assets/1a14e2c1b8ddd86db77cdaaad193d2fb.png" alt="alt text" />
          <div class="tasksInfo">Tasks</div>
        </div>
      </div>
      <div class="backgroundImage" style="--src:url(/assets/galaxy_image_1.png)"></div>
      <img class="mainImage" src="/assets/2f9a96a1573ca99164799982133e8b7f.png" alt="alt text" /><img
        class="decoratorTop"
        src="/assets/space_station.png"
        alt="alt text"
      />
      <div class="secondaryBackgroundImage" style="--src:url(/assets/galaxy_image_2.png)"></div>
      <div class="contentContainer">
        <div class="highlightBox"></div>
        <div class="secondaryHighlightBox"></div>
        <h1 class="heroTitle">Quazar</h1>
      </div>
      <img class="featureImage" src="/assets/space_shuttle.png" alt="alt text" /><img
        class="decoratorBottom"
        src="/assets/satellite_image.png"
        alt="alt text"
      />
      <div class="statsContainer">
        <div class="statsBox"></div>
        <div class="secondaryStatsBox"></div>
        <img class="coverImage" src="/assets/black_hole_accretion.png" alt="alt text" />
        <div class="collectionInfo">10.8% Collected</div>
        <h2 class="collectionValue">0.158939</h2>
        <div class="hourlyRateInfo">0.21 Q/h</div>
        <div class="rateHighlightBox"></div>
        <h2 class="claimTitle">Claim</h2>
      </div>
      <img class="footerImage" src="/assets/black_hole.png" alt="alt text" />
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
